{% assign collection_today = false %}
{% assign collection_tomorrow = false %}
{% assign recycling_week = false %}
{% assign green_waste_week = false %}
{% assign custom_fields_values = trmnl.plugin_settings.custom_fields_values %}

{%- assign today_timestamp = "now" | date: "%s" | plus: trmnl.user.utc_offset -%}
{%- assign today_date = today_timestamp | date: "%Y-%m-%d" -%}
{%- assign day_of_week = today_timestamp | date: "%w" | plus: 0 -%}
{%- assign days_since_monday = day_of_week -%}
{%- if day_of_week == 0 -%}
  {%- assign days_since_monday = 6 -%}
{%- else -%}
  {%- assign days_since_monday = day_of_week | minus: 1 -%}
{%- endif -%}
{%- assign seconds_to_subtract = days_since_monday | times: 86400 -%}
{%- assign week_start_timestamp = today_timestamp | minus: seconds_to_subtract -%}
{%- assign week_starting = week_start_timestamp | date: "%Y-%m-%d" -%}

{%- assign this_weeks_zone = "" -%}
{%- for result in IDX_1.results -%}
  {%- if result.week_starting == week_starting -%}
    {%- assign this_weeks_zone = result.zone | upcase -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}
{% if custom_fields_values.unitnumber != '' %}
    {% assign original_address = custom_fields_values.unitnumber | append: "/" | append: custom_fields_values.housenumber | append: " " | append: custom_fields_values.streetname | append: ", " | append: custom_fields_values.suburb  %}
{% else %}
    {% assign original_address = custom_fields_values.housenumber | append: " " | append: custom_fields_values.streetname | append: ", " | append: custom_fields_values.suburb  %}
{% endif %}
{% if IDX_0.total_count == 0 %}
    {% assign address = "Unknown Address" %}
    {% assign error = true %}
{% elsif IDX_0.results[0].unit_number != null %}
    {% assign address = IDX_0.results[0].unit_number | append: "/" | append: IDX_0.results[0].house_number | append: " " | append: IDX_0.results[0].street_name | append: ", " | append: IDX_0.results[0].suburb %}
{% else %}
    {% assign address = IDX_0.results[0].house_number | append: " " | append: IDX_0.results[0].street_name | append: ", " | append: IDX_0.results[0].suburb %}
{% endif %}
{% if error != true %}
    {% assign today = "now" | date: "%s" | plus: trmnl.user.utc_offset | date: "%A" | upcase %}
    {% assign seconds_per_day = 86400 %}
    {% assign tomorrow = "now" | date: "%s" | plus: trmnl.user.utc_offset | plus: seconds_per_day | date: "%A" | upcase %}
    {% assign collection_day = IDX_0.results[0].collection_day %}
    {% if collection_day == today %}
         {% assign collection_today = true %}
    {% endif %}
    {% if collection_day == tomorrow %}
        {% assign collection_tomorrow = true %}
    {% endif %}
    {% assign my_zone = IDX_0.results[0].zone | upcase %}
    {% if this_weeks_zone == my_zone %}
        {% assign recycling_week = true %}
    {% else %}
        {% assign green_waste_week = true %}
    {% endif %}
{% endif %}

<div class="layout">
  <div class="columns">
    <div class="column">
      <div class="markdown gap--large">
        <span class="title">BNE BIN</span>
        <div class="content-element content clamp--20" data-content-max-height="320">
            {% if error %}
                <p>Unable to find "{{ original_address }}". Please check your plugin settings.</p>
            {% else %}
                {% if collection_tomorrow %}
                    <p>Bin collection is tomorrow. Make sure you put your bins out by 5:30am tomorrow!</p>
                {% elsif collection_today %}
                    <p>Bin collection is today. Make sure you bring your bins back in!</p>
                {% else %}
                    <p>Next collection day is {{ collection_day }}</p>
                {% endif %}
                {% if recycling_week %}
                    <p>It's recycling week! Please put out your recycling bin.</p>
                {% elsif green_waste_week %}
                    <p>It's green waste week! Please put out your green waste bin.</p>
                {% endif %}
            {% endif %}

        </div>
      </div>
    </div>
  </div>
</div>

<div class="title_bar">
  <img class="image" src="https://trmnl.com/images/plugins/trmnl--render.svg">
  <span class="title">BNE BIN</span>
  <span class="instance">{{ address }} </span>
</div>
